/* AcmlmBoard XD - RANDOM STUFF I HAVE TO CLASSIFY */

/* Default border color */
table, td, tr, th, div
{
	border-color:black;
}


.minipic {
	vertical-align: top;
}

/* Other stuff */


.threadTag {
	color:white;
	font-size: 1em;
	text-shadow: 1px 1px 0px hsla(0, 0%, 0%, .5);
	padding: 0px 2px;
	border: 1px dotted hsla(0, 0%, 100%, .75);
	box-shadow: 1px 1px 2px hsla(0, 0%, 0%, .5);
	margin-right: 2px;
	white-space: nowrap;
}

.pollbarContainer
{
	border: 1px solid #669;
	margin: .2em;
	box-shadow: inset 0px 4px 8px #000;
	border-radius: 8px;
	width: 75%;
}

.pollbar
{
	border-width:1px; border-style:solid;
	background: silver;
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
	box-shadow: inset 0px -4px 12px #000;
	border-radius: 8px;
}

td.threadIcon
{
	width: 20px;
	text-align: center;
	font-size: .8em;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
}

td.threadIcons label > input
{
	display: none;
}

td.threadIcons label > input ~ *
{
	background: rgba(255, 255, 255, 0);
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 4px;
	padding: 0px 2px;
}

td.threadIcons label > input:checked ~ *
{
	background: rgba(255, 255, 255, .25);
	border: 1px solid rgba(255, 255, 255, .5);
}
