{% macro pagelink(base, from, text) %}
	{% if from != 0 %}
		<a href='{{base}}/p{{from}}'>{{text | raw}}</a>
	{% else %}
		<a href='{{base}}'>{{text | raw}}</a>
	{% endif %}
{% endmacro %}

{% import _self as pl %}

{% if paging %}
	<div class="smallFonts pages">
		Pages: 
		{% set pages = (paging.total + paging.perpage-1) // paging.perpage %}
		{% for i in 1..pages %}
			{% set from = (i-1)*paging.perpage %}
			{% if from == paging.from %}
				<span>{{i}}</span>
			{% else %}
				{% if loop.first %}
					{{ pl.pagelink(paging.base, from, '&laquo;') }}
					{{ pl.pagelink(paging.base, paging.from-paging.perpage, '&lsaquo;') }}
				{% endif %}
				{{ pl.pagelink(paging.base, from, i) }}
				{% if loop.last %}
					{{ pl.pagelink(paging.base, paging.from+paging.perpage, '&rsaquo;') }}
					{{ pl.pagelink(paging.base, from, '&raquo;') }}
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}