{% for post in posts %}
	{% include 'layout/post.html' %}
{% endfor %}

{% include 'layout/pagelinks.html' %}

<form name="postform" action="" method="post">
	<table class="outline margin width100">
		<tr class="header1">
			<th>
				New reply
			</th>
		</tr>
		<tr class="cell0">
			<td>
				{% include 'layout/postbox.html' %}
			</td>
		</tr>
		<tr class="cell2">
			<td>
				<input type="submit" name="actionpost" value="Post">
				<input type="submit" name="actionpreview" value="Preview">
			</td>
		</tr>
	</table>
</form>