
<div class="postToolbar">
	<button type="button" title="Bold"><i class="icon-bold"></i></button>
	<button type="button" title="Italic"><i class="icon-italic"></i></button>
	<button type="button" title="Underlined"><i class="icon-underline"></i></button>
	<button type="button" title="Strikethrough"><i class="icon-strikethrough"></i></button>
	<button type="button" title="Superscript"><i class="icon-superscript"></i></button>
	<button type="button" title="Subscript"><i class="icon-subscript"></i></button>
	<button type="button" title="Link"><i class="icon-link"></i></button>
	<button type="button" title="Image"><i class="icon-picture"></i></button>
	<button type="button" title="Quote"><i class="icon-quote-left"></i></button>
	<button type="button" title="Spoiler"><i class="icon-ellipsis-horizontal"></i></button>
</div>

<textarea id="text" name="text" rows="5" style="width: 100%; box-sizing: border-box; resize: none;">{{ posttext }}</textarea>

<script type="text/javascript">
	$(document).ready(function(){
	    $('#text').autosize();   
	});
</script>